# for main app
memory_fs
osbot-fast-api-serverless
#mgraph-ai-service-cache-client
git+https://github.com/the-cyber-boardroom/MGraph-AI__Service__Cache__Client.git@dev

# for pytest
pytest
pytest-cov

# for fastapi testing
httpx
requests

# for local-stack support
osbot_local_stack
